/* common.css - additional settings　
  - Others
--------------------------------------------------------- */
body	{ font-size:12px; font-family:"メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGOTHIC",sans-serif;}
span.img span	{ font-size:90%; line-height:1.2;}
h2	{ font-size:160%; line-height:1.3;}
h3	{ font-size:100%; line-height:1.4;}
h4	{ font-size:100%; line-height:1.5;}
p	{ font-size:100%; line-height:1.5;}
p.lead	{ font-size:100%;}
p.note,p.affix	{ font-size:90%;}
blockquote	{ font-size:100%; line-height:1.5;}
address	{ font-size:90%; line-height:1.3;}
li	{ font-size:100%; line-height:1.5;}
th,td	{ font-size:100%; line-height:1.4;}

.lhn h2	{ line-height:1.1;}
.lhn h3,.lhn th,.lhn td	{ line-height:1.2;}
.lhn h4,.lhn p,.lhn blockquote,.lhn li	{ line-height:1.3;}
.lhw h2	{ line-height:1.9;}
.lhw h3,.lhw th,.lhw td	{ line-height:2.1;}
.lhw h4,.lhw p,.lhw blockquote,.lhw li	{ line-height:2.2;}

#area-header span.img span	{ font-size:90%; line-height:1.2;}
#area-header h2	{ font-size:160%; line-height:1.3;}
#area-header h3	{ font-size:90%; line-height:1.4;}
#area-header h4	{ font-size:90%; line-height:1.5;}
#area-header p	{ font-size:90%; line-height:1.5;}
#area-header p.lead	{ font-size:90%;}
#area-header p.note,#area-header p.affix	{ font-size:90%;}
#area-header blockquote	{ font-size:90%; line-height:1.5;}
#area-header address	{ font-size:90%;}
#area-header li	{ font-size:90%; line-height:1.5;}
#area-header th,#area-header td	{ font-size:90%; line-height:1.4;}

#area-header .lhn h2	{ line-height:1.1;}
#area-header .lhn h3,#area-header .lhn th,#area-header .lhn td	{ line-height:1.2;}
#area-header .lhn h4,#area-header .lhn p,#area-header .lhn blockquote,#area-header .lhn li	{ line-height:1.3;}
#area-header .lhw h2	{ line-height:1.5;}
#area-header .lhw h3,#area-header .lhw th,#area-header .lhw td	{ line-height:1.7;}
#area-header .lhw h4,#area-header .lhw p,#area-header .lhw blockquote,#area-header .lhw li	{ line-height:1.8;}

.side-group span.img span	{ font-size:90%; line-height:1.2;}
.side-group h2	{ font-size:120%; line-height:1.3;}
.side-group h3	{ font-size:90%; line-height:1.4;}
.side-group h4	{ font-size:90%; line-height:1.5;}
.side-group p	{ font-size:90%; line-height:1.5;}
.side-group p.lead	{ font-size:90%;}
.side-group p.note,.side-group p.affix	{ font-size:90%;}
.side-group blockquote	{ font-size:90%; line-height:1.5;}
.side-group address	{ font-size:90%;}
.side-group li	{ font-size:90%; line-height:1.5;}
.side-group th,.side-group td	{ font-size:90%; line-height:1.4;}

.side-group .lhn h2	{ line-height:1.1;}
.side-group .lhn h3,.side-group .lhn th,.side-group .lhn td	{ line-height:1.2;}
.side-group .lhn h4,.side-group .lhn p,.side-group .lhn blockquote,.side-group .lhn li	{ line-height:1.3;}
.side-group .lhw h2	{ line-height:1.5;}
.side-group .lhw h3,.side-group .lhw th,.side-group .lhw td	{ line-height:1.7;}
.side-group .lhw h4,.side-group .lhw p,.side-group .lhw blockquote,.side-group .lhw li	{ line-height:1.8;}

#area-footer span.img span	{ font-size:90%; line-height:1.2;}
#area-footer h2	{ font-size:120%; line-height:1.3;}
#area-footer h3	{ font-size:90%; line-height:1.4;}
#area-footer h4	{ font-size:90%; line-height:1.5;}
#area-footer p	{ font-size:90%; line-height:1.5;}
#area-footer p.lead	{ font-size:90%;}
#area-footer p.note,#area-footer p.affix	{ font-size:90%;}
#area-footer blockquote	{ font-size:90%; line-height:1.5;}
#area-footer address	{ font-size:90%;}
#area-footer li	{ font-size:90%; line-height:1.5;}
#area-footer th,#area-footer td	{ font-size:90%; line-height:1.4;}

#area-footer .lhn h2	{ line-height:1.1;}
#area-footer .lhn h3,#area-footer .lhn th,#area-footer .lhn td	{ line-height:1.2;}
#area-footer .lhn h4,#area-footer .lhn p,#area-footer .lhn blockquote,#area-footer .lhn li	{ line-height:1.3;}
#area-footer .lhw h2	{ line-height:1.5;}
#area-footer .lhw h3,#area-footer .lhw th,#area-footer .lhw td	{ line-height:1.7;}
#area-footer .lhw h4,#area-footer .lhw p,#area-footer .lhw blockquote,#area-footer .lhw li	{ line-height:1.8;}

#page-title	{ font-size:16px;}
#page-title span	{ font-size:10px;}

.menuh .menu-a a.mn1,.menuh .menu-a .nolink	{ font-size:90%;}
.menuh .menu-b a.mn1,.menuh .menu-b .nolink	{ font-size:90%;}
.menuh .menu-c a.mn1,.menuh .menu-c .nolink	{ font-size:90%;}

.bread-crumb1,.bread-crumb2,.bread-crumb3	{ font-size:90%;}

.type-1 .frill img	{ padding:2px; border:1px solid #EBEBEB;}
.type-2 .frill img	{ padding:2px; border:1px solid #474747;}


/* app setting ------------------------------------------ */
.area,
.block,
.column,
.box,
.pocket,
.slice,
.menuh,
.menuh ul,
.menuv,
.menu-a,
.menu-b,
.menu-c,
.menu-d,
.menu-e,
.mbox,
dt,
dd {
	zoom:1;
}
.area:after,
.amc:after,
.block:after,
.bmc:after,
.column:after,
.box:after,
.pocket:after,
.xmc:after,
.mc:after,
.balloon:after,
.menuh ul:after,
.menu-a:after,
.menu-b:after,
.menu-c:after,
.menu-d:after,
.menu-e:after,
.mbox:after,
dt:after,
dd:after {
	clear:both;
	content:"";
	display:block;
	visibility:hidden;
	height:0;
	line-height:0;
}
ol li,li ol li,ol.decimal li,li ol.decimal li	{ margin-left:30px;}


/* font setting ------------------------------------------ */
.min	{ font-family:"ＭＳ Ｐ明朝","MS PMincho";}
.got	{ font-family:"メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGOTHIC",sans-serif;}
.fsize_lll	{ font-size:260%;}
.fsize_ll	{ font-size:160%;}
.fsize_l	{ font-size:140%;}
.fsize_m	{ font-size:120%;}
.fsize_s	{ font-size:90%;}
.fsize_ss	{ font-size:80%;}