/* common.css - font settings　
  - Internet Explorer 7 (Vista)
--------------------------------------------------------- */
body	{ font-size:12px; font-family:"ＭＳ Ｐ明朝","MS PMINCHO",serif;}
p	{ line-height:1.5;}
li	{ line-height:1.5;}