@charset "utf-8";

.-dress_28c031eccbd845e28712c2e4b8f2dfcc  {
	color:#000000;
	font-size:12px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .bg-window {
	background-color:#ffffff;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-headlines .c-title {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-headlines .c-title {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-headlines .c-page_title {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-headlines .c-page_title {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-headlines .column {
	width:100%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-headlines .column {
	width:100%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-tab_navigation li a,m.b-tab_navigation li a:link {
	background-color:#f4f1f2;
	color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-tab_navigation li a,m.b-tab_navigation li a:link {
	background-color:#f4f1f2;
	color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-tab_navigation li.-active a,.b-tab_navigation li.-active a:link {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-tab_navigation li.-active a,.b-tab_navigation li.-active a:link {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-tab_navigation li a:hover {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-tab_navigation li a:hover {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-tab_contents {
	background-color:#ffffff;
	border:2px solid #000000;
	padding:20px 30px 20px 30px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-tab_contents {
	background-color:#ffffff;
	border:2px solid #000000;
	padding:20px 30px 20px 30px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-accordion_navigation a,.b-accordion_navigation a:link {
	color:#000000;
	background-color:#f4f1f2;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-accordion_navigation a,.b-accordion_navigation a:link {
	color:#000000;
	background-color:#f4f1f2;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-accordion_navigation.-active a,.b-accordion_navigation.-active a:link {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-accordion_navigation.-active a,.b-accordion_navigation.-active a:link {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-accordion_navigation a:hover {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-accordion_navigation a:hover {
	color:#ffffff;
	background-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-both_diff.-left_large .column.-col8 {
	width:75%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-both_diff.-left_large .column.-col8 {
	width:75%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-both_diff.-left_large .column.-col4 {
	width:20%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-both_diff.-left_large .column.-col4 {
	width:20%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-both_diff .c-lead {
	padding-bottom:65px;
	font-size:100%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-both_diff .c-lead {
	padding-bottom:65px;
	font-size:100%;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-body {
	font-size:100%;
	line-height:2;
	font-weight:bold;
	padding-bottom:30px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-large_headline {
	font-size:200%;
	font-weight:normal;
	line-height:1.3;
	padding-bottom:15px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-small_headline {
	font-size:170%;
	font-weight:normal;
	line-height:1.3;
	padding-bottom:15px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-lead {
	font-size:120%;
	line-height:1.7;
	font-weight:bold;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-title {
	font-size:260%;
	font-weight:normal;
	line-height:1.6;
	padding-bottom:20px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-blockquote {
	color:#000000;
	font-size:100%;
	font-weight:bold;
	line-height:2;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-enclosure {
	color:#000000;
	font-size:100%;
	font-weight:bold;
	background-color:#f4f1f2;
	border-style:none;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-note {
	color:#6d6d6d;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-credit {
	color:#7d7d7d;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-page_title {
	color:#333333;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-list_table {
	border-color:#000000;
	font-weight:bold;
	font-size:100%;
	color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-list_table th {
	background-color:#f4f1f2;
	font-weight:bold;
	border-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-list_table td {
	border-color:#000000;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-breadcrumb {
	font-size:90%;
	line-height:1.6;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-breadcrumb a,.c-breadcrumb a:link {
	text-decoration:underline;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .a-main .b-plain .c-img {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .a-header .b-both_diff .c-body {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .m-motion.-j {
	padding-top:40px;
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .m-motion.-j li {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .m-motion.-j a,.m-motion.-j a:link {
}
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .m-motion li {
}
@media screen and (max-width: 641px) {
.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-both_diff.-left_large .column.-col8 {
		width:100%;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-both_diff.-left_large .column.-col8 {
		width:100%;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-both_diff.-left_large .column.-col4 {
		width:100%;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-both_diff.-left_large .column.-col4 {
		width:100%;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .b-both_diff .c-lead {
		padding-bottom:20px;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc.b-both_diff .c-lead {
		padding-bottom:20px;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-credit {
		text-align:center;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-title {
		font-size:170%;
		padding-bottom:10px;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-body {
		font-size:95%;
		padding-bottom:15px;
		line-height:1.6;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-large_headline {
		font-size:140%;
		padding-top:14px;	padding-bottom:10px;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-small_headline {
		font-size:120%;
		padding-bottom:6px;
		font-weight:bold;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-lead {
		font-size:100%;
		padding-bottom:10px;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-blockquote {
		font-size:90%;
		line-height:1.6;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-enclosure {
		font-size:90%;
		line-height:1.6;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-img {
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-breadcrumb a,.c-breadcrumb a:link {
		font-weight:bold;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc #js-globalNavigation .m-motion.-j {
		border-style:none;
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .c-menu.-v li {
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .m-motion.-j {
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .m-motion.-j a,.m-motion.-j a:link {
	}
	.-dress_28c031eccbd845e28712c2e4b8f2dfcc .m-motion.-j li {
		border-style:none;
	}
	
}
