

header {
	background: url(../img/splash/coverpage.jpg);
	height: 100vh;
	background-size: cover;
	margin-bottom: 50px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}
body {
	margin: 0;
	padding: 0;
	border: none;
	background-color: black;
	
}

p {
	max-width: 600px;
	margin: 0 auto 20px;
	text-align: center;
	color: white;
}

img {
	height: 100px;
	width: 100px;
}
