/* common.css - font settings　
  - Others
--------------------------------------------------------- */
body { font-size:12px;}
body,p, li,blockquote,address	{ font-family:"ヒラギノ明朝 Pro W3","ＭＳ Ｐ明朝","MS PMINCHO",serif !important;}
h2	{ font-family:"ヒラギノ明朝 Pro W6","ＭＳ Ｐ明朝","MS PMINCHO",serif !important; font-weight:normal;}
h3	{ font-family:"ヒラギノ明朝 Pro W6","ＭＳ Ｐ明朝","MS PMINCHO",serif !important; font-weight:normal;}
h4	{ font-family:"ヒラギノ明朝 Pro W6","ＭＳ Ｐ明朝","MS PMINCHO",serif !important; font-weight:normal;}
p.lead	{ font-family:"ヒラギノ明朝 Pro W6","ＭＳ Ｐ明朝","MS PMINCHO",serif !important; font-weight:normal;}
strong	{ font-family:"ヒラギノ明朝 Pro W6","ＭＳ Ｐ明朝","MS PMINCHO",serif !important; font-weight:normal;}
