/* common.css - font settings　
  - Internet Explorer 7 (Vista)
--------------------------------------------------------- */
body	{ font-size:14px; font-family:"ＭＳ Ｐ明朝","MS PMINCHO",serif;}
p	{ line-height:1.5;}
li	{ line-height:1.6;}
.menuh li,.menuv li	{ line-height:1.0;}
.menuh li a	{ line-height:1.6;}