/* common.css - font settings　
  - Macintosh
--------------------------------------------------------- */
body	{ font-size:14px; font-family:"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",serif;}
h2	{ font-family:"ヒラギノ明朝 Pro W6"; font-weight:normal;}
h3	{ font-family:"ヒラギノ明朝 Pro W6"; font-weight:normal;}
h4	{ font-family:"ヒラギノ明朝 Pro W6"; font-weight:normal;}
p.lead	{ font-family:"ヒラギノ明朝 Pro W6"; font-weight:normal;}
strong	{ font-family:"ヒラギノ明朝 Pro W6"; font-weight:normal;}