@charset "utf-8";

.polaroidMetal {
	position: relative;
	overflow: hidden;
	background: url(bg_metal.jpg);
	-webkit-user-select: none;
}

.polaroidMetal div, .polaroidMetal img, .polaroidMetal a, .polaroidMetal p {
	padding:0;
	maring: 0;
}

.polaroidMetal .polaroid {
	width:370px;
	height:380px;
	background-image:url(../_common/polaroid.png);
	position:absolute;
	cursor: pointer;
}

.polaroidMetal .polaroid .img-area {
	margin-top: 21px;
	margin-left: 21px;
	display: block;
	width: 326px;
	height: 267px;
	position:relative;
	overflow: hidden;
}

/* for IE7*/
*:first-child+html .polaroidMetal .polaroid .img-area {
	margin-top: 21px;
	margin-left: 0px;
	display: block;
	width: 326px;
	height: 267px;
	position:relative;
	overflow: hidden;
}

.polaroidMetal .polaroid p {
	margin-top: 20px;
	padding: 0px 20px 0px 20px;
	width: 334px;
	height: 50px;
	text-align: left;
	font-size: 1.6em;
	overflow: hidden;
}

.ac .polaroidMetal {
	margin-left: auto;
	margin-right: auto;
}

.ar .polaroidMetal {
	float:right;
}
